data/QuantLet/*
data/QuantLet/
data/raw/*
data/raw/
data/preprocessed/*
data/preprocessed/
data/sorted/
data/QuantLet_to_parse
data/preprocessed/Quantlet/python_quantlets.csv
.DS_Store
token.txt
data/Q_test
data/*.csv
data/*.json
quantlet2keywords/checkpoint-16/*
quantlet2keywords/checkpoint-16/
quantlet2keywords/*checkpoints
quantlet2keywords/*checkpoints

data/raw/Conala/
data/raw/CodeSearchNet/
data/raw/Conala/*
data/raw/CodeSearchNet/*
data/preprocessed/Conala/*
data/preprocessed/CodeSearchNet/*
data/preprocessed/Conala/
data/preprocessed/CodeSearchNet/
QuantLet/Load-Quantlet-Data-From-Git/token.txt
data/QuantLet.zip

**/*.pyc
**/.ipynb_checkpoints
**/__pycache__
appdirs*

BART_learning/results
BART_learning/wandb