Quantlet/4-qode2desc/analysis_report_codetrans_domain_context_512_10_epochs_test_FINAL_SERVE/
data/preprocessed/Quantlet/
tt.txt
Quantlet/5-domain-pre-training/results/
data/QuantLet/*
data/QuantLet/
data/QuantLet_light/*
data/QuantLet_light/
appdirs-1..4.3
CodeSearchNet_analysis/EDA_ch.ipynb
data/raw/*
data/raw/
data/sorted/
data/QuantLet_to_parse
data/preprocessed/Quantlet/python_quantlets.csv
.DS_Store
token.txt
data/Q_test
data/*.csv
data/*.json

data/preprocessed/Quantlet/deprecated_files

data/raw/Conala/
data/raw/CodeSearchNet/
data/raw/Conala/*
data/raw/CodeSearchNet/*
data/preprocessed/Conala/*
data/preprocessed/CodeSearchNet/*
data/preprocessed/Conala/
data/preprocessed/CodeSearchNet/
QuantLet/Load-Quantlet-Data-From-Git/token.txt
data/QuantLet.zip

**/*.pyc
**/.ipynb_checkpoints
**/__pycache__
appdirs*

BART_learning/results
BART_learning/wandb


Quantlet/code_description2project_description/results
Quantlet/code_description2project_description/results/*

Quantlet/code_description2project_description/logs
Quantlet/code_description2project_description/logs/*

Quantlet/Domain_PreTraining/wandb
Quantlet/Domain_PreTraining/wandb/*

Quantlet/Domain_PreTraining/logs
Quantlet/Domain_PreTraining/logs/*

Quantlet/Domain_PreTraining/results
Quantlet/Domain_PreTraining/results/*
file.pem
Quantlet/5-domain-pre-training/analysis_report*
Quantlet/4-qode2desc/analysis_report*
Quantlet/7-corpus-token-ident/arxiv_data.csv
Quantlet/7-corpus-token-ident/arxiv_data_210930-054931.csv
Quantlet/5-domain-pre-training/arxiv_pretraining/
Quantlet/4-qode2desc/bootstrap_3_domain/
Quantlet/4-qode2desc/bootstrap_4_domain/
Quantlet/4-qode2desc/no_bootstrap
Quantlet/4-qode2desc/bootstrap_languages
Quantlet/4-qode2desc/deprecated_files
